<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Imagenes Registradas</h4>
                        <h1></h1>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Image URL
                                    </th>
                                    <th>
                                        Descripcion
                                    </th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let image of arrayOfImages" class="list-group-item-action">
                                        <td>{{image.id}}</td>
                                        <td>{{image.image_url}}</td>
                                        <td>{{image.description}}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button class="btn btn-danger" type="button" (click)="deleteImage(image.id)">
borrar                                                </button>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-white bg-rose mb-3" style="width: max;">
            <div class="card-header">Agregar Enlace de Imagen.</div>
            <div class="card-body">
                <h5 class="card-title">Completa los siguientes datos</h5>
                <input type="url" placeholder="URL" [(ngModel)]="currentImage.image_url">
                <input type="text" placeholder="Descripción" [(ngModel)]="currentImage.description">
                <button class="btn btn-success" (click)="addImage(currentImage.image_url, currentImage.description)">Submit</button>
                <p></p>
                <p></p>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="width: max;">
            <div class="card-header">Editar Enlace de Imagen</div>
            <div class="card-body">
                <h5 class="card-title">Completa los siguientes datos</h5>
                <input type="number" placeholder="ID de la imagen" [(ngModel)]="currentImage.id">
                <input type="url" placeholder="URL" [(ngModel)]="currentImage.image_url">
                <input type="text" placeholder="Descripcion" [(ngModel)]="currentImage.description">
                <button class="btn btn-success" (click)="updateImage(currentImage.id, currentImage.image_url, currentImage.description)">Submit</button>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>