<div class="main-content">
    <div class="container-fluid">

        <div class=centre>
            <h1 class="whiteheadline">Inciar sesion</h1>
        </div>
        <div>
            <h1></h1>
            <input type="text" placeholder="Email" [(ngModel)]="currentUser.email">
            <h1></h1>
            <input type="text" placeholder="Password" [(ngModel)]="currentUser.password">
            <h1></h1>
            <button class="btn btn-success" (click)="login(currentUser.email, currentUser.password)">Submit</button>
        </div>
    </div>
</div>