<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Ventas Realizadas</h4>
                        <h1></h1>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Purchase ID
                                    </th>
                                    <th>
                                        User ID
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                    <th>
                                        Fecha de Venta
                                    </th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let purchase of arrayOfPurchases" class="list-group-item-action">
                                        <td>{{purchase.id}}</td>
                                        <td>{{purchase.user_id}}</td>
                                        <td>{{purchase.total}}</td>
                                        <td>{{purchase.created_at}}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button class="btn btn-danger" type="button" (click)="deletePurchase(purchase.id)">
borrar                                                </button>
                                            </div>

                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>